<% if (post.photos && post.photos.length){ %>
  <div>
    <div>
      <% post.photos.forEach(function(photo, i){ %>
        <a  href="<%- url_for(photo) %>" rel="gallery_<%= post._id %>">
          <img src="<%- url_for(photo) %>" itemprop="image">
        </a>
      <% }) %>
    </div>
  </div>
<% } %>
